<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cube w/ Friends | Create Room</title>
  <link rel="stylesheet" href="../styles/create-room.css">
</head>
<body>
  <form method="post">
    <h1 class="min-rules">Settings</h1>
    <h1>Your room, your rules!</h1>
    <section class="general">
      <h3>General</h3>
      <label for="room-name">Room name:
        <input type="text" name="room-name" class="text" id="room-name">
      </label>
      <label for="maxPlayers">Player limit (empty for no limit):
        <input type="number" name="maxPlayers" class="number" id="max-players">
      </label>
    </section>
    <section class="rounds">
      <h3>Rounds</h3>
      <label for="roundDuration">Round duration (sec): 
        <input type="number" name="roundDuration" class="number" id="round-duration" required>
      </label>
      <label for="betweenDuration">Time between rounds (sec):
        <input type="number" name="betweenDuration" class="number" id="between-duration" required>
      </label>
    </section>
    <button type="submit" id="create-button">Create Room</button>
  </form>
</body>
</html>