<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cube w/ Friends</title>
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
  <div class="message">
    <h3></h3>
  </div>
  <main>
    <h1>Cube w/ Friends</h1>
    <form method="post">
      <label for="username">Username: </label><br>
      <input 
        type="text"
        name="username"
        id="username"
        required><br>
        <label for="password">Password: </label><br>
      <input type="password" name="password" id="password" required><br>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
    <p>Don't have an account?
      <a href="register">Make one now!</a>
    </p>
  </main>
  <script src="../scripts/login.js"></script>
</body>
</html>