<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cube w/ Friends</title>
  <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
  <main>
    <h1>Create account</h1>
    <form method="post">
      <label>Username: </label><br>
      <input 
        type="text"
        name="username"
        id="username"
        required><br>
        <label>Password: </label><br>
      <input type="password"
      name="password"
      id="password"
      required>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
    <p>Already have an account?
      <a href="..">Login</a>
    </p>
  </main>
</body>
</html>