<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <title>Cube w/ Friends</title>
  <link rel="stylesheet" href="../styles/room.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
  <h2 class="scramble">U2 B R2 B F2 R2 U2 B' D2 R2 U2 F' U B2 L' F2 L' B U2 R' U</h2>
  <main class="timer-and-times">
    <div class="timer">0.00</div>
    <div class="times">
      <div class="time">12.00</div>
      <div class="time">12.00</div>
      <div class="time">12.00</div>
      <div class="time">12.00</div>
      <div class="time">12.00</div>
    </div>
  </main>
  <section class="averages">
    <div class="average ao5">ao5: 12.00</div>
    <div class="average ao12">ao12: 12.00</div>
    <div class="average ao25">ao25: 12.00</div>
    <div class="average ao50">ao50: 12.00</div>
    <div class="average ao100">ao100: 12.00</div>
    <button class="my-times-button" id="my-times-button">
      <i class='bx bxs-bar-chart-alt-2'></i>
    </button>
    
  </section>
  <section class="finishers-container">
    <div class="finishers">
      <div class="player">darko: 12.00</div>
      <div class="player">darko: 12.00</div>
      <div class="player">darko: 12.00</div>
      <div class="player">darko: 12.00</div>
      <div class="player all-users" id="users-tab">All users</div>
      <div class="player all-times" id="times-tab">All times</div>
    </div>
  </section>
  <div class="modal-container" id="times-modal">
    <div class="modal">
      <div class="modal-header">
        <h3>Round times: </h3>
        <div class="button-container">
          <button id="close-times-modal-button"><i class='bx bx-x'></i></button>
        </div>
      </div>
      <div class="modal-body">
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
        <p>darko: 12.00</p>
      </div>
    </div>
  </div>
  <div class="modal-container admin" id="users-modal"> 
    <div class="modal">
      <div class="modal-header">
        <h3>Everyone in this room: </h3>
        <div class="button-container">
          <button id="close-users-modal-button"><i class='bx bx-x'></i></button>
        </div>
      </div>
      <div class="modal-body">
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
        <p>darko</p>
      </div>
    </div>
  </div>
  <div class="modal-container my-times" id="my-times-modal"> 
    <div class="modal">
      <div class="modal-header">
        <h3>My times:r </h3>
        <div class="button-container">
          <button id="close-my-times-modal-button"><i class='bx bx-x'></i></button>
        </div>
      </div>
      <div class="modal-body">
        <p>12.00</p>
        <p>12.00</p>
        <p>12.00</p>
        <p>12.00</p>
        <p>12.00</p>
        <p>12.00</p>
        <p>12.00</p>
        <p>12.00</p>
       
      </div>
    </div>
  </div>
  <script src="../scripts/room.js"></script>
</body>
</html>