<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <title>Cube w/ Friends</title>
  <link rel="stylesheet" href="../styles/room.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
  <h2 class="scramble" id="scramble">Waiting for the next round...</h2>
  <main class="timer-and-times">
    <div class="timer" id="timer">0.00</div>
    <div class="times"></div>
    <button class="my-times-button" id="my-times-button-in-times">
      <i class='bx bxs-bar-chart-alt-2'></i>
    </button>
  </main>
  <section class="averages">
    <div class="average ao5" id="ao5">ao5: -</div>
    <div class="average ao12" id="ao12">ao12: -</div>
    <div class="average ao50" id="ao50">ao50: -</div>
    <div class="average ao100" id="ao100">ao100: -</div>
    <button class="my-times-button" id="my-times-button">
      <i class='bx bxs-bar-chart-alt-2'></i>
    </button>
    
  </section>
  <section class="finishers-container">
    <div class="finishers" id="finishers">
      <button class="all-users" id="users-tab">All users</button>
      <button class="all-times" id="times-tab">Round times</button>
    </div>
  </section>
  <div class="modal-container" id="times-modal">
    <div class="modal">
      <div class="modal-header">
        <h3>Round times: </h3>
        <div class="button-container">
          <button id="close-times-modal-button"><i class='bx bx-x'></i></button>
        </div>
      </div>
      <div class="modal-body" id="times-modal-body">
      </div>
    </div>
  </div>
  <div class="modal-container admin" id="users-modal"> 
    <div class="modal">
      <div class="modal-header">
        <h3>In this room: </h3>
        <div class="button-container">
          <button id="close-users-modal-button"><i class='bx bx-x'></i></button>
        </div>
      </div>
      <div class="modal-body" id="users-modal-body">
      </div>
    </div>
  </div>
  <div class="modal-container my-times" id="my-times-modal"> 
    <div class="modal">
      <div class="modal-header">
        <h3>My times:</h3>
        <div class="button-container">
          <button id="close-my-times-modal-button"><i class='bx bx-x'></i></button>
        </div>
      </div>
      <div class="modal-body" id="my-times-modal-body">
      </div>
    </div>
  </div>
  <div class="modal-container" id="winners-modal"> 
    <div class="modal">
      <div class="modal-body">
      </div>
      <div class="next-round">
        <span id="next-round-timer"></span>
      </div>
    </div>
  </div>
  <div class="modal-container" id="submit-modal"> 
    <div class="modal">
      <h1>Your time is: </h1>
      <strong class="submit-time" id="submit-time">12.00</strong>
      <div class="penalty-buttons">
        <button class="plus-two-button" id="plus-two-button">+2</button>
        <button class="dnf-button" id="dnf-button">DNF</button>
      </div>
      <button class="submit-button" id="submit-button"><h3>Submit Time</h3></button>
    </div>
  </div>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="../scripts/room-socket.js"></script>
  <script defer src="../scripts/room-timer.js"></script>
  <script defer src="../scripts/room.js"></script>
</body>
</html>