<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cube w/ Friends | Find Room</title>
  <link rel="stylesheet" href="../styles/start.css">
</head>
<body>
  <div class="user">
    <span></span>
    <button class="logout-button">Logout</button>
  </div>
  <section class="join">
    <h2>
      Your friends are waiting? Join them!
    </h2>
    <div class="code">
      <input id="1" tabindex="0">
      <input id="2" tabindex="0">
      <input id="3" tabindex="0">
      <input id="4" tabindex="0">
      <input id="5" tabindex="0">
      <input id="6" tabindex="0">
    </div>
    <button class="join-button">Join</button>
  </section>
  <section class="create">
    <h2>Or you want to create a new room?</h2>
    <button>Create</button>
  </section>
  <script src="../scripts/start.js"></script>
</body>
</html>