@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial;
  min-width: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to left top, #007FFF, #89CFF0, #CCCCFF);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
  background-color: white;
  padding: 100px 0 50px 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 70px;
  -webkit-text-stroke: #007FFF 0.1px;
  color: white;
}

h2 {
  max-width: 1100px;
}

h3 > span {
  margin-left: 7px;
}

main > button {
  padding: 13px 35px;
  border: 0 solid black;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0 , 0.1);
  border-radius: 5px;
  background-color: rgba(19, 62, 251, 0.6);
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.setup {
  width: 100%;
  position: relative;
  padding-top: 200px;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 113px;
}

.custom-shape-divider-top .shape-fill {
  fill: #FFFFFF;
}

.tutorial {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 1100px;
  margin: 30px auto 0 auto;
}

.entry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tutorial-entry {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0 , 0.1);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 168px;
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px;
  transition: transform 0.3s;
}

.tutorial-entry:hover {
  box-shadow: -10px 10px 8px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  transform: translate(5px, -5px);
}

.tutorial-entry p {
  margin-bottom: 3px;
}

.moik {
  margin-top: 30px;
  max-width: none;
}

h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

i {
  font-size: 40px;
}

.cube-pic-div {
  position: relative;
  overflow: hidden;
}

img {
  width: 50%;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 25%;
}

.get-started {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started button {
  padding: 12px 30px;
  border: 0 solid black;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0 ,0.1);
  border-radius: 5px;
  background-color: rgba(19, 62, 251, 0.6);
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  color: white;
}

.get-started .register-button {
  background-color: rgba(203, 76, 76, 1);
}

.get-started .register-button:hover {
  background-color: rgba(203, 76, 76, 0.9);
}

.get-started button:hover {
  background-color: rgba(19, 62, 251, 0.5);
}

.get-started span {
  margin: 0 10px;
}

div > i {
  font-size: 28px;
}

.checks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (width > 600px) {
  .tutorial {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width > 900px) {
  .tutorial {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tutorial-entry {
    height: 160px;
  }
}

